build --incompatible_strict_action_env
build --incompatible_enable_cc_toolchain_resolution

build --verbose_failures

build:core2 --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:core2 --platforms=@core2-64-poky-linux//bazel:platform-target
build:core2 --extra_toolchains=@core2-64-poky-linux//bazel/toolchain:cc-toolchain-target

build:cortexa57 --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:cortexa57 --platforms=@cortexa57-poky-linux_new//bazel:platform-target
build:cortexa57 --extra_toolchains=@cortexa57-poky-linux_new//bazel/toolchain:cc-toolchain-target

build:local --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:local --platforms=@cortexa57-poky-linux-4_0//bazel:platform-target
build:local --extra_toolchains=@cortexa57-poky-linux-4_0//bazel/toolchain:cc-toolchain-target
